/.vs
/Marketplace/bin
/Marketplace/obj
/Repositories/bin
/Repositories/obj
/Services/obj
/Services/bin
/Entities/bin
/Entities/obj
/Microservices/Infrastructure/obj
/Microservices/Infrastructure/bin
/Microservices/Authentication.Api/obj
/Microservices/Authentication.Api/bin
/Microservices/Products/Products.API/bin
/Microservices/Products/Products.API/obj
/Microservices/Products/Products.DAL/bin
/Microservices/Products/Products.DAL/obj
/Microservices/Products/Products.Domain/bin
/Microservices/Products/Products.Domain/obj
